---
http_interactions:
- request:
    method: post
    uri: https://api.voilk.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000624806721746715'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.803
        VSD","quote":"1.000 VOILK"},"price_history":[{"base":"0.769 VSD","quote":"1.000
        VOILK"},{"base":"0.768 VSD","quote":"1.000 VOILK"},{"base":"0.768 VSD","quote":"1.000
        VOILK"},{"base":"0.768 VSD","quote":"1.000 VOILK"},{"base":"0.782 VSD","quote":"1.000
        VOILK"},{"base":"0.800 VSD","quote":"1.000 VOILK"},{"base":"0.800 VSD","quote":"1.000
        VOILK"},{"base":"0.800 VSD","quote":"1.000 VOILK"},{"base":"0.799 VSD","quote":"1.000
        VOILK"},{"base":"0.794 VSD","quote":"1.000 VOILK"},{"base":"0.786 VSD","quote":"[...]
- request:
    method: post
    uri: https://api.voilk.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000230298839311592'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"jsonrpc":"2.0","result":{"head_block_number":27382698,"head_block_id":"01a1d3aaff285629a48f7fe29431fdbca7852bdb","time":"2018-11-03T18:05:54","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"298803369.527
        VOILK","current_supply":"279838987.070 VOILK","confidential_supply":"0.000
        VOILK","current_vsd_supply":"15228399.113 VSD","confidential_vsd_supply":"0.000
        VSD","total_coining_fund_voilk":"198432601.839 VOILK","total_coining_shares":"400139705141.779328
        COINS","total_reward_fund_voilk":"0.000 VOILK","total_reward_shares2":"0","pending_rewarded_coining_shares":"477734903.484666
        COINS","pending_rewarded_coining_voilk":"234404.449 VOILK","vsd_interest_rate":0,"vsd_print_rate":10000,"maximum_block_size":65536,"current_aslot":27477718,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":27382683,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"vsd_stop_percent":1000,"vsd_start_percent":900}}'
  recorded_at: Sat, 03 Nov 2018 18:05:56 GMT
[...]
