---
http_interactions:
- request:
    method: post
    uri: https://api.voilk.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000761180437946199'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.803
        VSD","quote":"1.000 VOILK"},"price_history":[{"base":"0.769 VSD","quote":"1.000
        VOILK"},{"base":"0.768 VSD","quote":"1.000 VOILK"},{"base":"0.768 VSD","quote":"1.000
        VOILK"},{"base":"0.768 VSD","quote":"1.000 VOILK"},{"base":"0.782 VSD","quote":"1.000
        VOILK"},{"base":"0.800 VSD","quote":"1.000 VOILK"},{"base":"0.800 VSD","quote":"1.000
        VOILK"},{"base":"0.800 VSD","quote":"1.000 VOILK"},{"base":"0.799 VSD","quote":"1.000
        VOILK"},{"base":"0.794 VSD","quote":"1.000 VOILK"},{"base":"0.786 VSD","quote":"[...]
