---
http_interactions:
- request:
    method: post
    uri: https://api.bearshares.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_feed_history","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_feed_history.params=[]
      X-Jussi-Request-Id:
      - '000761180437946199'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"id":0,"current_median_history":{"base":"0.803
        BSD","quote":"1.000 BEARS"},"price_history":[{"base":"0.769 BSD","quote":"1.000
        BEARS"},{"base":"0.768 BSD","quote":"1.000 BEARS"},{"base":"0.768 BSD","quote":"1.000
        BEARS"},{"base":"0.768 BSD","quote":"1.000 BEARS"},{"base":"0.782 BSD","quote":"1.000
        BEARS"},{"base":"0.800 BSD","quote":"1.000 BEARS"},{"base":"0.800 BSD","quote":"1.000
        BEARS"},{"base":"0.800 BSD","quote":"1.000 BEARS"},{"base":"0.799 BSD","quote":"1.000
        BEARS"},{"base":"0.794 BSD","quote":"1.000 BEARS"},{"base":"0.786 BSD","quote":"[...]
