---
http_interactions:
- request:
    method: post
    uri: https://api.voilk.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '000325093747966126'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":27382699,"head_block_id":"01a1d3ab5ea7a3f041d5f14ee4c77edd5b98b0a2","time":"2018-11-03T18:05:57","current_witness":"good-karma","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"298803371.957
        VOILK","current_supply":"279838989.500 VOILK","confidential_supply":"0.000
        VOILK","current_vsd_supply":"15228399.113 VSD","confidential_vsd_supply":"0.000
        VSD","total_coining_fund_voilk":"198432602.417 VOILK","total_coining_shares":"400139705561.211708
        COINS","total_reward_fund_voilk":"0.000 VOILK","total_reward_shares2":"0","pending_rewarded_coining_shares":"477734903.484666
        COINS","pending_rewarded_coining_voilk":"234404.449 VOILK","vsd_interest_rate":0,"vsd_print_rate":10000,"maximum_block_size":65536,"current_aslot":27477719,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":27382683,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"vsd_stop_percent":1000,"vsd_start_percent":900}}'
  recorded_at: Sat, 03 Nov 2018 18:05:57 GMT
recorded_with: VCR 3.0.3
