---
http_interactions:
- request:
    method: post
    uri: https://api.bearshares.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","method":"condenser_api.get_dynamic_global_properties","params":[],"id":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Jussi-Cache-Hit:
      - appbase.condenser_api.get_dynamic_global_properties.params=[]
      X-Jussi-Request-Id:
      - '001063577483083198'
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"jsonrpc":"2.0","result":{"head_block_number":27382698,"head_block_id":"01a1d3aaff285629a48f7fe29431fdbca7852bdb","time":"2018-11-03T18:05:54","current_witness":"timcliff","total_pow":514415,"num_pow_witnesses":172,"virtual_supply":"298803369.527
        BEARS","current_supply":"279838987.070 BEARS","confidential_supply":"0.000
        BEARS","current_bsd_supply":"15228399.113 BSD","confidential_bsd_supply":"0.000
        BSD","total_coining_fund_bears":"198432600.919 BEARS","total_coining_shares":"400139703286.557934
        COINS","total_reward_fund_bears":"0.000 BEARS","total_reward_shares2":"0","pending_rewarded_coining_shares":"477736758.706060
        COINS","pending_rewarded_coining_bears":"234405.369 BEARS","bsd_interest_rate":0,"bsd_print_rate":10000,"maximum_block_size":65536,"current_aslot":27477718,"recent_slots_filled":"340282366920938463463374607431768211455","participation_count":128,"last_irreversible_block_num":27382683,"vote_power_reserve_rate":10,"delegation_return_period":432000,"reverse_auction_seconds":900,"bsd_stop_percent":1000,"bsd_start_percent":900}}'
  recorded_at: Sat, 03 Nov 2018 18:05:55 GMT
recorded_with: VCR 3.0.3
